@font-face
   font-family Bazar
   font-style normal
   src url(../fonts/Bazar.ttf)
   
@font-face
   font-family Oswald-Bold
   font-style bold
   src url(../fonts/Oswald-Bold.ttf)

@font-face
   font-family Oswald-Regular
   font-style normal
   src url(../fonts/Oswald-Regular.ttf)

@font-face
   font-family RobotoSlab-Bold
   font-style bold
   src url(../fonts/RobotoSlab-Bold.ttf)

@font-face
   font-family RobotoSlab-Regular
   font-style normal
   src url(../fonts/RobotoSlab-Regular.ttf)
 
 @font-face
   font-family MyriadPro-Regular
   font-style normal
   src url(../fonts/MyriadPro-Regular.otf)